<nav class="menu">
  <ul class="nav nav-stacked">

    <li class="btn-group-vertical center-block">
      <button type="button" class="btn btn-med btn-fa">

        <hgroup class="center-text">
          <h3 class="center-text">Navigator</h3>
        </hgroup>

        <button type='button' class='btn btn-lg dropdown-toggle' data-toggle='dropdown'>
          <i class='fas fa-bullseye fa-lg fa-fw'></i>
        </button>

        <ul class="btn-group-lg dropdown-menu" role="menu">

          <li class="btn-group-med">
            <a href="../pages/about-us.htm" class="btn btn-med btn-success" title="Click to Visit the About Us Page"
              target="_self">About Us <i class="glyphicon glyphicon-ok"></i>
            </a>
          </li>

          <li class="divider"></li>

          <li class="btn-group-med">
            <a href="../pages/contact-us.htm" class="btn btn-med btn-success" title="Click to Visit the Contact Us Page"
              target="_self">Contact Us <i class="glyphicon glyphicon-phone"></i>
            </a>
          </li>

          <li class="divider"></li>

          <li class="btn-group-med">
            <a href="../pages/affiliates.htm" class="btn btn-med btn-success" title="Click to Visit the Affiliates Page"
              target="_self">Affiliates <i class="glyphicon glyphicon-bullhorn"></i>
            </a>
          </li>

          <li class="divider"></li>

          <li class="btn-group-med">
            <a href="../pages/glyphicons.htm" class="btn btn-med btn-success" title="Click to Visit the Glyphicons Page"
              target="_self">Glyphicons <i class="glyphicon glyphicon-pushpin"></i>
            </a>
          </li>

          <li class="divider"></li>

          <li class="btn-group-med">
            <a href="../pages/license.htm" class="btn btn-med btn-success" title="Click to Visit the License Page"
              target="_self">License <i class="glyphicon glyphicon-flag"></i>
            </a>
          </li>

          <li class="divider"></li>

          <li class="btn-group-med">
            <a href="/index.htm" class="btn btn-med btn-success"
              title="Click to Jump To the Home Page of the Code Base" target="_self">Home Page <i
                class="glyphicon glyphicon-home"></i>
            </a>
          </li>

          <li class='btn-group-med'>
            <a href='https://rwebaz.github.io/Medcoin-Lessons-Project' class='btn btn-med btn-success'
              title='Click to Jump To the Remote Satellite Home page of the Medcoin™ Lessons Project at GitHub'
              target='_blank'>Satellite Landing
              <i class='glyphicon glyphicon-star-empty'></i>
            </a>
          </li>

        </ul>
      </button>
    </li>
  </ul>
</nav>
