<picture>
  <a href='https://medcoin.github.io' title='Click To Review the Home page of the Medcoin™ Crypto Currency Project, a subsidiary of the MMINAIL, an Arizona Benefit Corporation' target='_blank'>
  <img class='img-responsive' src='../assets/img/png/La-Jolla-Cali-Wind-n-Sea-Cherry-Red-Sunset-w-MDC-Medcoin-Copper-Registered-Logo-Badge-1742-x-775.png' alt='The USPTO Registered Logo Badge of the Medcoin™ Crypto Currency Project, a subsidiary of the Medical Marijuana Initiative of North America - International Limited, an Arizona Benefit Corporation to the left of the La Jolla Wind and Sea sunset from the beach at Neptune Drive.' /></a>
</picture>
